<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683956146924-099i5v5tjfo8msq94jir0ptaoidtb7kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683956146924-099i5v5tjfo8msq94jir0ptaoidtb7kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDbbjgiNIbo0fEb0J_Fo9f7nswfOnrDeZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>683956146924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeonsu.simple-memo</string>
	<key>PROJECT_ID</key>
	<string>simplememo-8adf1</string>
	<key>STORAGE_BUCKET</key>
	<string>simplememo-8adf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683956146924:ios:cf86adbcce384515cccbc9</string>
</dict>
</plist>